<div id='modal-comments' class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
    </button>
    <h3>Comentário</h3>
  </div>
  <div class="modal-body">
    <%= render partial: 'comments/form', locals: {comment: comment} %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn"  data-dismiss="modal" aria-hidden="true" >Close</a>
  </div>
</div>
