<% if resource.errors.any? %>
  <div class='alert alert-error'>
    
    <h2> <%= pluralize(resource.errors.count, 'erro') %></h2>
    <ul>
      
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

    </ul>

  </div>
  
<% end %>