

<h1>Conteúdo central</h1>

<%= @name%>

<%= link_to 'Saiba mais sobre nós', about_path  %>


<%= content_for :sidebar do %>
  <%= render partial: 'shared/sidebar', locals: {local_name: @name} %>
<% end %>


